@charset "utf-8";

/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
 모든 디바이스 공통 스타일과 스마트 폰 및 소형 태블릿 대상 레이아웃 지정
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_*/

/*==========================================
 body
===========================================*/
body {
  width: 100%;
  background-color:#FFF;
  font-family: "돋움", "굴림", "Malgu Gothic", "Times New Roman", Dotum, sans-serif;
  color:#000;
}
a {
  color:#000;
  text-decoration:none;
}
a:hover {
  color:#333;
  text-decoration:underline;
}
header{
	text-align:center;
}
header h1{
	margin:0 auto;
	padding:15px 5px 7px 5px;
	width:90%;
}
header h1 img{
	width:100%;
	max-width:313px;
}

header{
	position:relative;
	overflow:hidden;
}
header ul#s_nav{
	margin-bottom:15px;
	position:relative;
	float:left;
	left:50%;
}
header ul#s_nav li{
	float:left;
	position:relative;
	left:-50%;
}
/* li중앙정렬
ul{position:relative;float:left;left:50%;}
li{position:relative;float:left;left:-50%;}
*/
header ul#s_nav li a{
	display:block;
	font-size:0.8em;
	margin-right:20px;
	padding-left:20px;
}

header ul#s_nav li.contact a{
	background:url(../images/icn_contact.jpg) no-repeat left center;
}
header ul#s_nav li.news a{
	background:url(../images/icn_news.jpg) no-repeat left center;
}
header ul#s_nav li.sitemap a{
	background:url(../images/icn_sitemap.jpg) no-repeat left center;
}

header p{
	width:100%;
}
header p img{
	width:100%;
	 height:auto;
	max-width:960px;
}

/* 글로벌 네비게이션 */
nav ul{
	margin-bottom:15px;
}
nav ul li{
	text-align:center;
	float:left;
	width:50%;
	border-bottom:2px solid #000;
}
nav ul li:nth-child(odd){
	/*width:calc(50% - 1px);*/
	width:49.5%;
	border-right:1px dotted #000;
}

/* li:nth-child(odd) 홀수번째 */
/* li:nth-child(even) 짝수번째 */
nav ul li a{
	display:block;
	width:100%;
}
nav ul li.active{
	background-color:#000;
}
/* 컨텐츠 영역 works 스타일 */



footer{
	border-top:10px solid #000;
}
footer div{
	margin:20px 0 0 20px;
}
footer div p{
	font-size:0.7em;
	line-height:2.0em;
}
footer div small{
	font-size:0.6em;
}

/*pc대상및 대형 태블릿 대상 레이아웃 지정 : 769~960px */

@media screen and (min-width:769px){
	header{
		position:static;
		overflow:visible;
	}
	header h1{
		text-align:left;
		float:left;
		padding:15px 5px 7px 5px;
		width:280px;
	}
	header h1 img{width:100%;}

	header ul#s_nav{
		position:static;
		float:right;
		margin-top:20px;
	}
	header ul#s_nav li{
		position:static;
		float:left;
	}


	nav{
		text-align:center;
		border-bottom:3px double #000;
		margin:10px auto 15px auto;
	}
	nav ul li{
		text-align:center;
		border-bottom:none;
		float:left;
		width:16%;
		border-right:1px dotted #000;
	}
	nav ul li:nth-child(odd){
		width:17%;
		border-bottom:none;
	}
	
	nav ul li.home{
		border-left:none;
		margin-left:1px;
	}
	nav ul li.contact{
		border-right:none;
	}

	


}

/*pc 대상 에이아웃 지정:961px 이상에서는 고정레이아웃*/
@media screen and (min-width:961px){
	header{
		width:960px;
		margin-left:auto;
		margin-right:auto;
		
	}
	nav{max-width:960px;}
	nav ul{
		margin-left:auto;
		margin-right:auto;
	}
	nav ul li:nth-child(odd){
		border-bottom:none;
	}
	nav ul li.home{
		border-left:1px dotted #000;
	}
	nav ul li.contact{
		border-right:1px dotted #000;
	}

	div#contents{
		max-width:960px;
		margin:0 auto;
	}

	div#contents section#work article{
		width:100%;
	}
	div#contents section#work article img{
		float:left;
		max-width:305px;
		margin-right:20px;
	}
	div#contents section#work article h3{
		border-left:5px solid #000;
		margin-bottom:10px;
		padding-left:10px;
		text-align:left;
		float:left;
		font-size:1.2em;

	}
	div#contents section#work article p{
		float:left;
		line-height:3.0em;
		border:1px solid #ccc;
		width:60%;
	}
	footer{
		text-align:center;
	}



}










